export("reconstruct_cp", "matrix_ols_sim", "tensor_inverse", "ttt", 
       "HOOLS", "cp_rank_selection", "tucker_rank_selection", "spark",
       "cp_uniqueness", "x_regression", "y_regression", "conv_cond", 
       "cp_regression", "cp_modified")
import(rTensor, abind)