export("reconstruct_cp", "matrix_ols_sim", "ttt", "MAR", "cp_rank_selection",
       "tucker_rank_selection", "spark", "cp_uniqueness", "cp_regression",
       "cp_modified", "tucker_rebuild", "tucker_regression", "rnorm_tnsr", 
       "ttv", "tlag")
import(rTensor, abind, MASS)